.navbar1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    height: 60px;
    background-color: aquamarine;
}

.navbar1 a{
    text-decoration: none;
}
.navbar1 a:hover{
    background-color: beige;
}